{% extends 'base.html.twig' %}

{% block title %}Edit EquipementInt{% endblock %}

{% block body %}
    <h1>Edit EquipementInt</h1>

    {{ include('equipement_int/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_equipement_int_index') }}">back to list</a>

    {{ include('equipement_int/_delete_form.html.twig') }}
{% endblock %}
